@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --color-one: #2e7d84;
  --color-two: #f5f5f5;
  --color-three: #333333;
  --color-four: #ffd4e5;
  --font-one: "Poppins", sans-serif;
  --font-two: "Dancing Script", cursive;
  --font-three: "Pacifico", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-one);
  font-size: 1rem;
  font-weight: 200;
  color: var(--color-three);
  background-color: var(--color-two);
}

a {
  text-decoration: none;
  color: var(--color-one);
  font-size: 1rem;
}

.hero-image {
  max-width: min(100%, 600px);
  height: auto;
}

h2 {
  color: var(--color-one);
}

.svg {
  color: var(--color-one);
}

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  padding-top: 100px;
}

#password {
  width: 200px;
  height: 30px;
  padding: 5px;
  font-size: 0.8rem;
  box-shadow: none;
}

#password:focus {
  border: 2px solid var(--color-one);
  outline: none;
}

.btn-login {
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-two);
  background-color: var(--color-one);
  cursor: pointer;
}

#daysCounter {
  font-size: 1.4rem;
  color: #2e7d84;
  font-weight: 400;
}

.stylized-font {
  font-family: var(--font-three);
}

.text-align-center {
  text-align: center;
}

.p-margin-top {
  margin-top: 20px;
}

.home-font-lg {
  color: var(--color-one);
  font-size: 2.5rem;
}
.home-font-sm {
  color: var(--color-one);
  font-size: 1rem;
}

.home-font-rotate {
  transform: rotate(-10deg);
}

.home-font-trans-right {
  transform: translate(30px);
}

.nav-container {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--color-two);
}

.nav-items {
  width: 90%;
  display: none;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  text-decoration: none;
  color: var(--color-four);
  font-size: 2rem;
}

.nav-link:hover {
  color: var(--color-four);
}

.open-menu-button {
  display: block;
  color: var(--color-one);
  font-size: 1.3rem;
  cursor: pointer;
}

.close-menu-button {
  display: block;
  position: absolute;
  top: 15px;
  right: 20px;
  color: var(--color-four);
  font-size: 1.3rem;
  cursor: pointer;
}

.pop-up-menu-container {
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-one);
  color: var(--color-two);
  z-index: 9999;
  overflow: hidden;
}

.pop-up-menu-container-open {
  display: flex;
}

.nav-items-popup {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 100vh;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.section-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-item {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.align-content-left {
  align-items: flex-start;
}

.footer {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.8rem;
  color: var(--color-two);
  background-color: #999;
}

/* Screen size larger than 350px */
@media only screen and (min-width: 350px) {
  .home-font-size-lg {
    font-size: 2.8rem;
  }
  .home-font-size-sm {
    font-size: 1.3rem;
  }
}

/* Screen size larger than 500px */
@media only screen and (min-width: 601px) {
  .main-container {
    width: 80%;
  }

  .nav-container {
    justify-content: center;
  }

  .open-menu-button {
    display: none;
  }

  .nav-items {
    display: flex;
    width: 45%;
  }

  .nav-link {
    font-size: 1rem;
    color: var(--color-three);
  }

  .nav-link:hover {
    color: var(--color-one);
  }

  .footer {
    font-size: 1rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  .section-container {
    flex-direction: row;
  }

  .home-font-size-lg {
    font-size: 3.5rem;
  }
  .home-font-size-sm {
    font-size: 1.8rem;
  }
}
